# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

main

Ressources/Out/*.png
Code/ffdnet-pytorch/.venv
Code/ffdnet-pytorch/__pycache__
Code/algo classiques/temp.png

*.h5
Code/ffdnet-pytorch/logs
.vscode
